
/*   
box-sizing: tamaño px   indica el tamaño total sumando los bordes relleno margen, todo 
gris oscuro = #1d252c
     gris claro = # 626262
     background gris = #1b2127
     celeste = #026fff
     background gris claro0 #fafafa*/
body {
    margin: 0;
    font-family:'Source Sans Pro', sans-serif ; /* implementamos en todo el body la fuente que linkeamos en el html */
}
.flexbox {
    display: flex;  /* ubica las cosas sobre la misma linea */
/*     flex-direction: column ; quedan en columna */
    flex-wrap: wrap;  /* cuando ya no entra en la linea , lo baja a la siguiente */
}
.box {
    height: 50px;
    width: 50px;
    border: 2px solid red;
    margin: 5px;
    flex-shrink: 0; /* defino que no se puede achicar  aunque el flex lo quiera */

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;  /* cambiamos el estilo de la fuente, debemos trael el estilo de fonts.google */
} /* a todos los h les pusimos la fuente Fjalla one  de no poder intente con la sans-serif */

h1 {
    font-size: 40px; /* tamaño de la fuentes */
    line-height: 1.5;  /* el tamaño del interlineado  1=%100 de fuente original */
    letter-spacing: -.2px; /* espacio entre letras */
    text-decoration: solid; /* decoraciones que le hacemos al texto */
    /*text-transform: capitalize;  tranforma el texto(mayuscula,minusculas,primera letra mayus ...) */
    color: white;
    /*margin: arriba derecha abajo izquierda; asi definimos los pargenes indicando el tamaño */
    margin-top: 0%;
    margin-right: 520px;
    margin-left: 0%;
    margin-bottom: 2px;
    padding: 10px;
}
.portolio {
    background-color: #fcfaff;
}
 .project {
     /*border: tamaño tipo color 
     border-top: 10px solid red 
     border-left: 10px solid red 
     border-right: 10px solid red  ;
     border-bottom: 10px solid red  ;
     border-width: 15px;
     */
     border: 1px solid gray;
     border-radius: 10px;  /* Esto es para redondear los bordes */
     margin: 10px; /* separacion del border hacia adentro */ 
     margin-bottom: 15px;
     padding: 20px;  /* pagging es el relleno , separacion desde el border hacia adentro */
        /* el paddin tiene las mismas definiciones que el margin */
        background: white;
    }
 .project-detail {
    width: 500px;
 }
 .project-imageContainer {
    width: 500px;
    
 }
 
 h1 strong {
     color: #026fff
 }
 .hero {
     height: 300px;
     background-image: url('../imagenes/tomasPerfil.png');
     background-size: 300px;
     background-color: #1d252c ;
     background-repeat: no-repeat;
     background-position: right;
 }
 .header {  /* color del header */
     background-color: #1d252c ;  
     color: white;
     margin: 0%;
 }
.header ol {
    margin: 0%;
}
.experience {
    border: 1px solid gray;
     border-radius: 10px;  /* Esto es para redondear los bordes */
     margin-bottom: 10px;
}

.contact {
    border: 1px solid gray;
     border-radius: 10px;  /* Esto es para redondear los bordes */
     margin-bottom: 10px;

}