
/*   
box-sizing: tamaño px   indica el tamaño total sumando los bordes relleno margen, todo 
gris oscuro = #1d252c
     gris claro = # 626262
     background gris = #1b2127
     celeste = #026fff
     background gris claro0 #fafafa*/

     body {
    margin: 0;
    font-family:'Source Sans Pro', sans-serif ; /* implementamos en todo el body la fuente que linkeamos en el html */
}
/* 
.flexbox {
    display: flex;   ubica las cosas sobre la misma linea 
     flex-direction: column ; quedan en columna 
    flex-wrap: wrap;   cuando ya no entra en la linea , lo baja a la siguiente 
    justify-content: center;  cen reparete empesando desde el centro 
    /* justify-content: space-evenly;  mismo espaciado entre todos los elementos, incluso en primero y fin 
    justify-content: space-around; mismo espaciado entre todos los elementos y la mitad en el primero y ultimo */
    /*justify-content: space-between;/*  espaciado de elementos menos en el primero y el ultimo 
    align-items: center; /* asi alineamos en forma vertical 
    border:  1px solid blue; 
}
.box {
    height: 50px;
    width: 50px;
    border: 2px solid red;
    margin: 5px;
    flex-shrink: 0; /* defino que no se puede achicar  aunque el flex lo quiera 
    align-self: flex-star; /* definimos en que lugar se ubicara, sin iumprotar lo que tenga definido el padre 
}*/
.header {
    background-color: #1d252c ;  
     color: white;
     height: 70px;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0;
    border: 0;
}

.header ol  {
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;  /* definimos que no tenga ningun stilo el texto(subrayados y demas) */
    display: flex;
    height: inherit;
}
.header ol li {
    height: inherit; /* hereda el alto de tu padre */
}
.header a {     /* HACEMOS QUE QLE ALTO SEA IGUAL Q EL HEADER PARA ESO TODOS SUS PADRE, */
    color: white; /* DEBEN TENER EL ALTO HEREDADO Y LA POSICION LA DEFINIMOS ACA */
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;  /* lo rellenamos para que  las opciones dle menu no esten todas juntasgit */
    
}
.header  figure{
    margin: 0;
    padding: 0;
    border: 0;
    height: 90px;
    display: flex;
    align-items: center;
    
}
.menu {
    height: inherit;
    display: flex;
}


.hero {
    height: 200px;
    background-image: url('../imagenes/tomasPerfil.png');
    background-size: 300px;
    background-color: #1d252c ;
    background-repeat: no-repeat;
    background-position: right;
    display: flex ;
    align-items: center;
}


 

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;  /* cambiamos el estilo de la fuente, debemos trael el estilo de fonts.google */
} /* a todos los h les pusimos la fuente Fjalla one  de no poder intente con la sans-serif */
h2 {
    color: #026fff;
    text-transform: uppercase; /* casa letra va a empezar con mayus */
    font-family:'Source Sans Pro', sans-serif ;
    font-weight: bold; /*  pone el texto en negrita */
    font-size: 24px;
    margin-bottom: 40px; 
}
h1 {
    font-size: 40px; /* tamaño de la fuentes */
    line-height: 1.5;  /* el tamaño del interlineado  1=%100 de fuente original */
    letter-spacing: -.2px; /* espacio entre letras */
    text-decoration: solid; /* decoraciones que le hacemos al texto */
    /*text-transform: capitalize;  tranforma el texto(mayuscula,minusculas,primera letra mayus ...) */
    color: white;
    margin: 0;
    /*margin: arriba derecha abajo izquierda; asi definimos los pargenes indicando el tamaño */
   /*  margin-top: 0%;
    margin-right: 520px;
    margin-left: 0%;
    margin-bottom: 2px;
    padding: 10px; */
}
.portolio {
    background-color: #fcfaff;
    padding: 20px;
}
 .project {
     /*border: tamaño tipo color 
     border-top: 10px solid red 
     border-left: 10px solid red 
     border-right: 10px solid red  ;
     border-bottom: 10px solid red  ;
     border-width: 15px;
     */
     border: 1px solid gray;
     border-radius: 10px;  /* Esto es para redondear los bordes */
     /*margin: 10px;  separacion del border hacia adentro */ 
     margin-bottom: 15px;
     padding: 20px; /*  pagging es el relleno , separacion desde el border hacia adentro */
        /* el paddin tiene las mismas definiciones que el margin */
     background: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
    }
.project-course,
.project-date,
.project-url { 
    margin: 10px 0;
    }
{
    margin: 10px 0;
}


.project-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}
 .project-detail {
    width: 500px;
 }
.project-description {
    font-size: 20px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
}
 h1 strong {
     color: #026fff
 }


.experience {
    border: 1px solid gray;
     border-radius: 10px;  /* Esto es para redondear los bordes */
     margin-bottom: 10px;
}

.contact {
    border: 1px solid gray;
     border-radius: 10px;  /* Esto es para redondear los bordes */
     margin-bottom: 10px;

}
.footer {
    background-color: #1b2127 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* a las img se les puede dar un alineado vertical con "vertical-align" */